.home {
  height: 100vh;
  background-image: linear-gradient(160deg, $color-black 1%, rgba($color-primary-dark, .8), rgba($color-primary-light, .8)), url(../../../assets/img/forest.jpg);
  background-size: cover;
  background-position: center;

  &__text-box {
    width: 100%;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(tab-land) {
      top: 40%;
    }
  }

  &__main-animation {
    animation: moveInLeft 1s ease;
  }

  &__sub-animation {
    animation: moveInRight 1s ease;
  }

  &__btn-animation {
    animation: moveInDown 1s ease;
  }
}