// COLORS
$color-primary: #5F6851;
$color-primary-light: #878E7C;
$color-primary-dark: #374225;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ddd;
$color-grey-light-3: #bbb;

$color-grey-dark: #666;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$max-width: 114rem;
$guetter-vertical: 10rem;
$guetter-horizontal: 8rem;